.gallery {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -10px;
    margin-top: -10px;
}
.gallery__item {
    height: 100%;
    width: 100%;
    display: inline-flex;
    width: calc((100%  - 3 * 10px) / 3);
    margin-left: 10px;
    margin-top: 10px;

}
.gallery__link, img {
    width: 100%;
}
